<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/profile/dashboard">
        <i class="mr-2 fa fa-tachometer" aria-hidden="true"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/pitch/form">
        <i class="mr-2 fa fa-microphone" aria-hidden="true"></i>
        <span class="menu-title">Create Pitch</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#" aria-expanded="false" aria-controls="form-elements">
        <i class="mr-2 fa fa-life-ring" aria-hidden="true"></i>
        <span class="menu-title">Support</span>
      </a>
    </li>
    <li class="nav-item" href="?">
      <a class="nav-link">
        <i class="mr-2 fa fa-book" aria-hidden="true"></i>
        <span class="menu-title">Documentations</span>
      </a>
    </li>
  </ul>
</nav>