<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
        <div class="container">
            <main class="signup-container">
                <h1 class="heading-primary">Welcome Back<span class="span-blue">.</span></h1>
                <p class="text-mute">Enter your credentials to access your account.</p>
                <div class="login-wrapper">
                  <a href="/account/google" class="btn btn-google">
                    <img src="https://img.icons8.com/fluency/48/000000/google-logo.png" />
                    Log In with Google
                  </a>
                  <div class="line-breaker">
                    <span class="line"></span>
                    <span class="line"></span>
                  </div>
                </div>
                <p class="text-mute">Not a member? <a href="/account/register">Sign up</a></p>
            </main>
        </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>


